.container{
    display: grid;
    position: relative;
}

.frase{
    text-align: center;
    margin: 20px;
}

.image{
    margin: 10px;
    width: 50%;
    height: 50%;
    
 
}

.btn{
    position: absolute;
}