.container{
    position: relative;
    align-items: center;
    text-align: center;
    background: blue;
}

.frase{
    text-align: center;
    margin: 10px;
}

.image{
    margin-top: 10px;
    width: 50%;
    height: 50%;
}

.btn-container{
    position: ; 
    background: red;
    
    
}