.container{
    display: grid;
    align-items: center;
    text-align: center;
}

.frase{
    text-align: center;
    margin: 10px;
}

.image{
    margin-top: 10px;
    width: 50%;
    height: 50%;

    
 
}

.btn{
    
}