.container{
    display: grid;
}

.frase{
    text-align: center;
    margin: 20px;
}

.image{
    margin-top: 10px;
    width: 50%;
    height: 50%;
    display:block;
    //margin:auto;
    
 
}

.btn{
    position: absolute;
}