.container{
    display: grid;
}

.frase{
    text-align: center;
    margin: 20px;
}

.image{
    position: fixed;
    margin: 10px;
    width: 80%;
    height: 80%;
    text-align: center;
}

.btn{
    position: absolute;
}