.container{
    position: relative;
    align-items: center;
    text-align: center;
    background: blue;
}

.frase{
    text-align: center;
    margin: 10px;
}

.image{
    margin-top: 10px;
    width: 50%;
    height: 50%;
}

.btn-container{
    justify-content: flex-end; display: flex;

Fuente: https://www.iteramos.com/pregunta/66018/alinear-el-boton-en-la-parte-inferior-del-div-usando-css 
    background: red;
    
    
}