.container{
    display: grid;
}

.frase{
    text-align: center;
    margin: 20px;
}

.image{
    display: flex;
  align-items: center;
  justify-content: center;
    
 
}

.btn{
    position: absolute;
}